*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

.wrapper{
	height: 100vh;
}

.content{
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #12DA6B;
}

.left{
	width: 45%;
	transform: skewX(20deg);
	background-color: #12DA6B;
	transform-origin: top;
}


.right{
	width: 55%;
	background-color: #fff;

}

.login_form{
	background-color: #fff;
	height: 350px;
	width: 43%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	padding: 20px;

	margin: 120px 0 0px 280px;
	display: block;
}

.login_form img{
	width: 100px;
	height: 100px;
	margin: 0px auto 0px auto;
	display: block;
}

.enter{
	width: 88%;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #27342D;
	font-size: 14px;
	font-family: calibri;
	padding: 0 10px 0 10px;

	margin-right: auto;
	margin-left: auto;
	display: block;
}

.login_form h4{
	color: black;
	font-family: Calibri;
	font-size: 20px;
	margin-left: 20px;
}

.field{
	margin: 15px 0 15px 0;
}

.submit_btn{
	width: 80%;
	height: 25px;
	color: white;
	background-color: #12DA6B;
	border-radius: 10px;
	border: none;

	margin: 30px auto 0 auto;
	display: block;
}

.submit_btn:hover{
	cursor: pointer;
}

.fas{
	font-size: 15px;
}

@media (max-width: 640px){

	.left{
		display: none;
	}

	.right{
		width: 100%;
		height: 100%;
		background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ff8a00), to(#e52e71));
	}

	.right h1{
		color: white;
		font-size: 30px;
		font-family: Arial;
		text-align: center;
		margin-top: 30px;
	}
	
	.login_form{
		width: 60%;

		margin: 90px auto 0 auto;
		display: block;
	}
}

@media (min-width: 640px){
	.right h1{
		display: none;
	}
}